@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cormorant+Unicase:wght@500&family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr auto-fit;
    gap: 5px;
    
}
header{
    /* background-color: aqua; */
    padding: 1em;
    justify-content: center;
    text-align: center;
    background-image: url(images/blowholes.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed no-repeat;
    
    
}
h1{
    animation-duration: 1.5s;
    animation-name: slidein;
    padding: 10%;
    font-family: 'Poiret One';
    font-size: 6em;
    font-weight: bolder;
    color: beige;
    
}
h1:hover{
    color: rgb(28, 62, 100);
    animation-duration: 1.5s;
    animation-name: slideout;
    font-size: 4em;
    opacity: 0.2;
    font-family: 'Cinzel Decorative';
    
}
.navigation{
    background-color: rgba(255, 228, 196, 0.644);
    font-family: 'Poiret One';
    font-size: 4em;
    text-align: center;
    opacity: .7;
}
.navigation:hover{
    background-color: rgba(223, 147, 96, 0.61);
}
nav ul{
    
    padding: 5%;
    list-style: none;
    display: flex;
    flex: 1 1 3em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
nav a{
    text-decoration: none;
    color: rgb(117, 117, 115);
    padding: 20px;
}
a:hover{
    color: coral;
    font-size: 1.1em;
}
a:active{
    font-size: .8em;
    color: rgb(124, 62, 62);
}
.content{
    color: rgb(155, 153, 151);
    background-color: rgba(107, 107, 146, 0.425);
    text-align: center;
    padding: 10%;
    font-size: 4em;
    font-family: 'Cinzel Decorative';
    
}
.content:hover{
    color: black;
    background-image: url(images/capebeach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(202, 101, 53, 0.623);
    text-align: center;
    padding: 10%;
    font-size: 1.5em;
       
}

#quote{
    color: rgb(255, 250, 240);
    font-size: 1.3em;
    
}
#quote:hover{
    color: rgb(97, 80, 55);
    align-self: center;
}
.article{
    padding: 30px;
    justify-content: center;
    align-items: center;
}

#footer{
    display:flex;
    justify-content: center;
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 10vh;
    min-height: 5vh;
    text-align: center;
    
}
.fa {
    display: flex;
    flex: 1 1 100%;
    padding: 5vh;
    font-size: 20px;
    width: 100vw;
    margin: 0;
    justify-content: center;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover{
    font-size: 2em;
  }
  .fa:active{
    color: darkred;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

.container{
    display: flex;
    align-items: center;
}
.social{
    display: flex;
}


@media only screen and (min-width: 720px) {
    .grid{
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr 1fr 3fr auto-fit;
    }
    header{
        grid-column: 1 / span 12;
        
    }
    .navigation{
        grid-column: span 1;
        grid-row: 2 / 3;
        
    }
    main{
        grid-column:  2 / span 12;
      
    }
    
    footer{
        grid-column: 1 / span 12;
    }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }