@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cormorant+Unicase:wght@500&family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.navigation{
    background-color: rgba(255, 228, 196, 0.644);
    font-family: 'Poiret One';
    font-size: 4em;
    text-align: center;
    opacity: .7;
}
.navigation:hover{
    background-color: rgba(223, 147, 96, 0.61);
}
nav ul{
    max-height: 10vh;
    padding: 5%;
    list-style: none;
    display: flex;
    flex: 1 1 3em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
nav a{
    text-decoration: none;
    color: rgb(117, 117, 115);
    padding: 20px;
}
a:hover{
    color: coral;
    font-size: 1.1em;
}
a:active{
    font-size: .8em;
    color: rgb(124, 62, 62);
}

